.DS_Store
*.retry
/ansible/myCA
viptela_api_cookie
topo.virl
/ansible/licenses
/ansible/files/vault-password-file
/ansible/facts_cache
/ansible/inventory/sdwan_inventory.yml
/ansible/day_-1/group_vars/all/local.yml
/ansible/day_0/group_vars/all/local.yml
/ansible/day_1/group_vars/all/local.yml
.virlrc
/.virl
set*.sh
*env_*.sh
logs/
bin/key.json
# python
__pycache__/
*.py[cod]
*$py.class
# venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# IDE project files
.vscode/
*.code-workspace
.idea
