[submodule "roles/ansible-virl"]
	path = roles/ansible-virl
	url = https://github.com/CiscoDevNet/ansible-virl.git
[submodule "terraform-sdwan"]
	path = terraform-sdwan
	url = https://github.com/CiscoDevNet/terraform-sdwan.git
[submodule "roles/ansible-viptela"]
	path = roles/ansible-viptela
	url = https://github.com/CiscoDevNet/ansible-viptela.git
