#jinja2: lstrip_blocks: True, trim_blocks: True
{% if licensing is defined %}
license smart
{%   if licensing.feature is defined %}
 feature tier {{ licensing.feature }}
{%   endif %}
{%   if licensing.throughput is defined %}
 throughput level {{ licensing.throughput }}
{%   endif %}
!
{%   if licensing.token is defined %}
license smart register idtoken {{ licensing.token }}
{%   endif %}
{% endif %}