#jinja2: lstrip_blocks: True, trim_blocks: True
{% if nat is defined %}
{%   for nat_entry in nat %}
{%     set options = '' %}
{%     if nat_entry.source_type is defined %}
{%       set options = options + ' source ' + nat_entry.source_type %}
{%     endif %}
nat ({{ nat_entry.inside_interface }},{{ nat_entry.outside_interface }}) source {{ nat_entry.source_type }} {{ nat_entry.source_list }} interface
{%   endfor %}
{% endif %}