name = "{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
region = "{{ sdwan_datacenter }}"
vpc_id = "{{ sdwan_network }}"
subnet_transport = "sdwan-subnet-transport"
subnet_service = "sdwan-subnet-service"
{% if aws_route53_zone is defined and aws_route53_zone != "" %}
route53_zone = "{{ aws_route53_zone }}"
{% endif %}
image_id = "{{ edge_image_id }}"
instance_type = "{{ edge_instance_type }}"
{% if common_tags is defined and common_tags != "" %}
common_tags = {
{% for key, value in common_tags.items() %}
    "{{ key }}" = "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
}
{% endif %}
