name = "{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
region = "{{ sdwan_datacenter }}"
rg = "sdwan-rg"
virtual_network = "sdwan-vnet"
subnet_transport = "sdwan-subnet-transport"
subnet_service = "sdwan-subnet-service"
account_username = "cisco"
account_password = "{{ vmanage_pass }}"
image_id = "{{ edge_image_id }}"
instance_type = "{{ edge_instance_type }}"
