vmanage_device_list = {
{% for host in groups['vmanage_hosts'] -%}
    "{{ hostvars[host]['inventory_hostname'] }}" = {
        networks = ["{{ hostvars[host]['vpn0_portgroup'] }}", "{{ hostvars[host]['vpn512_portgroup'] }}"]
        day0 = <<EOF
{{ hostvars[host]['day0_config'] }}
EOF
    }{% if not loop.last %},{% endif %}
{% endfor %}
}

vsmart_device_list = {
{% for host in groups['vsmart_hosts'] -%}
    "{{ hostvars[host]['inventory_hostname'] }}" = {
        networks = ["{{ hostvars[host]['vpn0_portgroup'] }}", "{{ hostvars[host]['vpn512_portgroup'] }}"]
        day0 = <<EOF
{{ hostvars[host]['day0_config'] }}
EOF
    }{% if not loop.last %},{% endif %}
{% endfor %}
}

vbond_device_list = {
    {% for host in groups['vbond_hosts'] -%}
    "{{ hostvars[host]['inventory_hostname'] }}" = {
        networks = ["{{ hostvars[host]['vpn512_portgroup'] }}", "{{ hostvars[host]['vpn0_portgroup'] }}"]
        day0 = <<EOF
{{ hostvars[host]['day0_config'] }}
EOF
    }{% if not loop.last %},{% endif %}
{% endfor %}
}

folder           = "{{ folder }}-control-{{ ansible_date_time.iso8601_basic }}"
vmanage_template = "{{ vmware_vmanage_template }}"
vbond_template   = "{{ vmware_vbond_template }}"
vsmart_template  = "{{ vmware_vsmart_template }}"
vedge_template   = "{{ vmware_vedge_template }}"
cedge_template   = "{{ vmware_cedge_template }}"
cloudinit_type   = "{{ cloudinit_type }}"
