name             = "{{ hostvars[inventory_hostname]['inventory_hostname'] }}"
vsphere_server   = "{{ vsphere_server }}"
vsphere_user     = "{{ vsphere_user }}"
vsphere_password = "{{ vsphere_password }}"
datacenter       = "{{ datacenter }}"
cluster          = "{{ cluster }}"
datastore        = "{{ datastore }}"
folder           = "{{ folder }}"
template         = "{{ iosxe_sdwan_image }}"
vm_num_cpus      = 4
vm_memory        = 8192
subnet_transport = "{{ vpn0_portgroup }}"
subnet_service   = "{{ servicevpn_portgroup }}"
