{% if router is defined %}
{%  if router.ospf is defined %}
router ospf {{ router.ospf.id }}
{%   if router.ospf.router_id is defined %}
 router-id {{ router.ospf.router_id }}
{%   endif %}{# router.ospf.router_id is defined  #}
{%   for protocol in router.ospf.redistribute|default([]) %}
 redistribute {{ protocol.protocol }} {{ '' if protocol.protocol_id is not defined else protocol.protocol_id }} {{ '' if protocol.options is not defined else protocol.options | join(' ') }}
{%   endfor %}
{%   for network in router.ospf.networks|default([]) %}
 network {{ network.network|ipaddr('network') }} {{ network.network|ipaddr('netmask') }} area {{ network.area }}
{%   endfor %}
{%   if router.ospf.default_information_originate is defined and router.ospf.default_information_originate is sameas true %}
 default-information originate
{%   endif %}{# router.ospf.default_information_originate is defined #}
{%  endif %}{# router.ospf is defined #}
{% endif %}{# router is defined #}