sdwan_ca_passphrase: "{{ control_plane_infra.certificate_authority.passphrase }}"
sdwan_cert_dir: "{{ control_plane_infra.certificate_authority.cert_dir }}"
sdwan_ca_cert: "{{ control_plane_infra.certificate_authority.ca_cert }}"
