vmanage_user: "{{ control_plane_infra.vmanage.config.username }}"
vmanage_pass: "{{ control_plane_infra.vmanage.config.password }}"
viptela_encrypted_pass: "{{ control_plane_infra.vmanage.config.password_hashed }}"
vmanage_org: "{{ control_plane_infra.vmanage.config.organization_name }}"
ansible_user: "{{ control_plane_infra.vmanage.config.username }}"
ansible_password: "{{ control_plane_infra.vmanage.config.password }}"
ssh_pubkey: "{{ global_config.ssh_public_key }}"
sdwan_datacenter: "{{ control_plane_infra.datacenter }}"


