Content-Type: multipart/mixed; boundary="===============6560338015520979320=="
MIME-Version: 1.0

{% if viptela is defined %}
--===============6560338015520979320==
Content-Type: text/cloud-config; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="vedge.cloud-config"

#cloud-config
vinitparam:
{%  if viptela.otp is defined %}
 - otp: {{ viptela.otp }}
{% endif %}{# viptela.otp is defined #}
{%  if viptela.uuid is defined %}
 - uuid: {{ viptela.uuid }}
{% endif %}{# viptela.uuid is defined #}
{%  if vmanage_org is defined %}
 - org: {{ vmanage_org }}
{% endif %}{# viptela.org is defined #}
{%  if viptela.vbond is defined %}
 - vbond: {{ viptela.vbond.remote }}
{% endif %}
{% endif %}

--===============6560338015520979320==
Content-Type: text/cloud-boothook; charset="us-ascii"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Content-Disposition: attachment; filename="vedge.init-config"

#cloud-boothook

system
 personality             vedge
 device-model            vedge-cloud
 host-name               {{ inventory_hostname.split('.')[0] }}
{% if viptela is defined %}
{% if viptela.system_ip is defined %}
 system-ip               {{ viptela.system_ip }}
{% endif %}{# viptela.system_ip is defined #}
{% if viptela.domain_id is defined %}
 domain-id                 {{ viptela.domain_id }}
{% endif %}{# viptela.domain_id is defined #}
{% if viptela.site_id is defined %}
 site-id                 {{ viptela.site_id }}
{% endif %}{# viptela.site_id is defined #}
 no route-consistency-check
{% if vmanage_org is defined %}
 organization-name       "{{ vmanage_org }}"
{% endif %}{# viptela.org is defined #}
{% if viptela.vbond is defined %}
 vbond                   {{ viptela.vbond.remote }} {{ 'local' if vbond.local is sameas true else '' }}
{% endif %}{# viptela.vbond is defined #}
{% endif %}
!
{% for vpn in vpn_instances|default([]) %}
vpn {{ vpn.vpn_id }}
{%  for interface in vpn.interfaces %}
 interface {{ interface.if_name }}
{%   if interface.ip.address == 'dhcp' %}
  ip dhcp-client
{%   else %}
  ip address {{ interface.ip.address }}
{%   endif %}{# interface.ip.address == 'dhcp' #}
{%   if interface.tunnel_interface is defined %}
  tunnel-interface
   allow-service dhcp
   allow-service dns
   allow-service icmp
   no allow-service sshd
   allow-service netconf
   no allow-service ntp
   no allow-service stun
   allow-service https
{%   endif %}{# interface.tunnel_interface is defiend #}
{%   if interface.enabled is sameas true %}
  no shutdown
{%   else %}
  shutdown
{%   endif %}{# interface.enabled is sameas true  #}
{%  endfor %}{# for interface #}
{% endfor %}{# for vpn #}
!
vpn 512
 interface eth0
  ip dhcp-client
  no shutdown
 !
!
--===============6560338015520979320==