Content-Type: multipart/mixed; boundary="==BOUNDARY=="
MIME-Version: 1.0

--==BOUNDARY==
Content-Type: text/cloud-boothook; charset="us-ascii"

#cloud-boothook
system
 host-name vbond
 vbond ztp.viptela.com local

 aaa
  auth-order local radius tacacs
  usergroup basic
   task system read write
   task interface read write
  !

  usergroup netadmin
  !

  usergroup operator
   task system read
   task interface read
   task policy read
   task routing read
   task security read
  !

  user admin
   password $6$Ju0z0n7YKtLgYWlJ$38aW.MBat6e8xL2vuLdbfGVH.DAYh7lq2nA/dBdvL.rWdJyGGB2gxLeVh8jQBKTCxti8vX5RKpbtzEadiZc6J.
  !
 !

 logging
  disk
   enable
  !
 !
!

omp
 no shutdown
 graceful-restart
 advertise connected
 advertise static
!

security
 ipsec
  authentication-type ah-sha1-hmac sha1-hmac
 !
!

vpn 0
 interface ge0/0
  ip dhcp-client
  tunnel-interface
   allow-service dhcp
   allow-service dns
   allow-service icmp
   no allow-service sshd
   allow-service netconf
   no allow-service ntp
   no allow-service stun
   allow-service https
  !
  no shutdown
 !
!

vpn 512
 interface eth0
  ip dhcp-client
  no shutdown
 !
!
--==BOUNDARY==