vmanage_org: "{{ controllers.config.organization_name }}"

sdwan_ca_passphrase: "{{ controllers.certificate_authority.passphrase }}"
sdwan_cert_dir: "{{ controllers.certificate_authority.cert_dir }}"
sdwan_ca_cert: "{{ controllers.certificate_authority.ca_cert }}"
