vmanage_org: "{{ controllers.config.organization_name }}"
vmanage_user: "{{ controllers.vmanage.config.username }}"
vmanage_pass: "{{ controllers.vmanage.config.password }}"
viptela_encrypted_pass: "{{ controllers.vmanage.config.password_hashed }}"
ansible_user: "{{ controllers.vmanage.config.username }}"
ansible_password: "{{ controllers.vmanage.config.password }}"
ssh_pubkey: "{{ global_config.ssh_public_key }}"
ssh_pubkey_fp: "{{ global_config.ssh_public_key_fp }}"
sdwan_serial_file: "/ansible/licenses/serialFile.viptela"

sdwan_ca_passphrase: "{{ controllers.certificate_authority.passphrase }}"
sdwan_cert_dir: "{{ controllers.certificate_authority.cert_dir }}"
sdwan_ca_cert: "{{ controllers.certificate_authority.ca_cert }}"

terraform_project_path:
  vmware:
    network: ""
    control: "/terraform-sdwan/vmware"
    edge_network: ""
    edges: "/sdwan-edge/Catalyst8000v/vmware/cedge"
  aws:
    network: "/terraform-sdwan/aws/Provision_VPC"
    control: "/terraform-sdwan/aws/Provision_Instances"
    edge_network: "/sdwan-edge/Catalyst8000v/aws/vpc"
    edges: "/sdwan-edge/Catalyst8000v/aws/cedge"
  gcp:
    network: ""
    control: ""
    edge_network: "/sdwan-edge/Catalyst8000v/gcp/vpc"
    edges: "/sdwan-edge/Catalyst8000v/gcp/cedge"
  azure:
    network: ""
    control: ""
    edge_network: "/sdwan-edge/Catalyst8000v/azure/vnet"
    edges: "/sdwan-edge/Catalyst8000v/azure/cedge"

# VMware
vmware_vmanage_template: "viptela-manage-{{ controllers.infra.sw_version }}"
vmware_vsmart_template: "viptela-smart-{{ controllers.infra.sw_version }}"
vmware_vbond_template: "viptela-edge-{{ controllers.infra.sw_version }}"
vmware_vedge_template: "viptela-edge-{{ controllers.infra.sw_version }}"
vmware_cedge_template: "iosxe-sdwan-16.12.5"


