vmanage_org: "{{ controllers.config.organization_name }}"
vmanage_user: "{{ controllers.vmanage.config.username }}"
vmanage_pass: "{{ controllers.vmanage.config.password }}"
viptela_encrypted_pass: "{{ controllers.vmanage.config.password_hashed }}"
ansible_user: "{{ controllers.vmanage.config.username }}"
ansible_password: "{{ controllers.vmanage.config.password }}"
ssh_pubkey: "{{ global_config.ssh_public_key }}"



