all:
  vars:
    sdwan_control_infra: "{{ controllers.infra.provider }}"
    sdwan_control_datacenter: "{{ controllers.infra.region }}"
    cloudinit_type: "{{ controllers.infra.cloud_init_format }}"
    sdwan_control_cidr: "{{ controllers.config.cidr }}"
    viptela_version: "{{ controllers.infra.sw_version }}"
    sdwan_vbond: "{{ controllers.vbond.config.vpn0_interface_ipv4 | ipv4_address }}"
    vmanage_templates_file: "/ansible/files/hq3_vmanage_templates_v20.yml"
    vmanage_policy_file: "/ansible/files/hq3_vmanage_policy_v20.yml"
    sdwan_central_policy_name: hq3-centralized-policy
    acl_cidr_blocks: '{{ controllers.config.acl_ingress_ipv4 }}'
    acl6_cidr_blocks: '{{ controllers.config.acl_ingress_ipv6 }}'
    vmanage_image_id: "{{ controllers.vmanage.infra.image_id }}"
    vbond_image_id: "{{ controllers.vbond.infra.image_id }}"
    vsmart_image_id: "{{ controllers.vsmart.infra.image_id }}"
    vmanage_instance_type: "{{ controllers.vmanage.infra.instance_type }}"
    vbond_instance_type: "{{ controllers.vbond.infra.instance_type }}"
    vsmart_instance_type: "{{ controllers.vsmart.infra.instance_type }}"
  {% if controllers.infra.dns_domain %}
    aws_route53_zone: "{{ controllers.infra.dns_domain }}"
  {% endif %}
  {% if infra_providers.vmware %}
    vsphere_server: "{{ infra_providers.vmware.vsphere_server }}"
    vsphere_user: "{{ infra_providers.vmware.vsphere_user }}"
    vsphere_password: "{{ infra_providers.vmware.vsphere_password }}"
  {% endif %}
    ntp_servers:
    {% if infra_providers.aws %}
      aws: "{{ infra_providers.aws.ntp_server }}"
    {% endif %}
    {% if infra_providers.gcp %}
      gcp: "{{ infra_providers.gcp.ntp_server }}"
    {% endif %}
    {% if infra_providers.azure %}
      azure: "{{ infra_providers.azure.ntp_server }}"
    {% endif %}
    {% if infra_providers.vmware %}
      vmware: "{{ infra_providers.vmware.ntp_server }}"
    {% endif %}

  children:
    sdwan:
      children:
        sdwan_control:
          vars:
            infra: "{{ controllers.infra.provider }}"
            vpn0_gateway: "{{ controllers.config.vpn0_gateway }}"
            sdwan_domain_id: 1
          children:
            vmanage_hosts:
              vars:
                sdwan_personality: vmanage
                sdwan_device_model: vmanage
                mgmt_interface: vpn0_ip
                virl_image_definition: "viptela-manage-{{ controllers.infra.sw_version }}"
                virl_config_template: "sdwan/user-data.j2"
              hosts:
                vmanage1:
                  sdwan_system_ip: "{{ controllers.vmanage.config.system_ip }}"
                  vpn0_ip: "{{ controllers.vmanage.config.vpn0_interface_ipv4 }}"
                  sdwan_site_id: "{{ controllers.config.site_id }}"
                  vpn_instances:
                    - vpn_id: 0
                      interfaces:
                        - if_name: eth1
                          enabled: true
                          ip:
                            address: "{{ controllers.vmanage.config.vpn0_interface_ipv4 }}"
                          tunnel_interface:
                            allow_service:
                              - all
                      routes:
                        - prefix: 0.0.0.0/0
                          next_hop:
                            address: "{{ controllers.config.vpn0_gateway }}"
                    - vpn_id: 512
                      interfaces:
                        - if_name: eth0
                          enabled: true
                          ip:
                            dhcp_client: true
            vbond_hosts:
              vars:
                sdwan_personality: vbond
                sdwan_device_model: vbond
                mgmt_interface: vpn0_ip
                virl_image_definition: "viptela-bond-{{ controllers.infra.sw_version }}"
                virl_config_template: "sdwan/vbond_user-data.j2"
              hosts:
                vbond1:
                  sdwan_system_ip: "{{ controllers.vbond.config.system_ip }}"
                  vpn0_ip: "{{ controllers.vbond.config.vpn0_interface_ipv4 }}"
                  sdwan_site_id: "{{ controllers.config.site_id }}"
                  vpn_instances:
                    - vpn_id: 0
                      interfaces:
                        - if_name: ge0/0
                          enabled: true
                          ip:
                            address: "{{ controllers.vbond.config.vpn0_interface_ipv4 }}"
                      routes:
                        - prefix: 0.0.0.0/0
                          next_hop:
                            address: "{{ controllers.config.vpn0_gateway }}"
                    - vpn_id: 512
                      interfaces:
                        - if_name: eth0
                          enabled: true
                          ip:
                            dhcp_client: true
            vsmart_hosts:
              vars:
                sdwan_personality: vsmart
                sdwan_device_model: vsmart
                mgmt_interface: vpn0_ip
                virl_image_definition: "viptela-smart-{{ controllers.infra.sw_version }}"
                virl_config_template: "sdwan/user-data.j2"
              hosts:
                vsmart1:
                  sdwan_system_ip: "{{ controllers.vsmart.config.system_ip }}"
                  vpn0_ip: "{{ controllers.vsmart.config.vpn0_interface_ipv4 }}"
                  sdwan_site_id: "{{ controllers.config.site_id }}"
                  sdwan_template:
                    name: vsmart
                    variables:
                      'vpn0_internet_ipv4_address': "{{ controllers.vsmart.config.vpn0_interface_ipv4 }}"
                      'vpn0_default_gateway': "{{ controllers.config.vpn0_gateway }}"
                  vpn_instances:
                    - vpn_id: 0
                      interfaces:
                        - if_name: eth1
                          enabled: true
                          ip:
                            address: "{{ controllers.vsmart.config.vpn0_interface_ipv4 }}"
                          tunnel_interface:
                            allow_service:
                              - all
                      routes:
                        - prefix: 0.0.0.0/0
                          next_hop:
                            address: "{{ controllers.config.vpn0_gateway }}"
                    - vpn_id: 512
                      interfaces:
                        - if_name: eth0
                          enabled: true
                          ip:
                            dhcp_client: true

        sdwan_edge:
          vars:
            sdwan_personality: vedge
            login_banner: "Hello!"
          hosts:
          {% for wan_edge_name, wan_edge_info in wan_edges.items() %}
            {{ wan_edge_name }}:
              infra: "{{ wan_edge_info.infra.provider }}"
            {% if wan_edge_info.infra.region %}
              sdwan_datacenter: "{{ wan_edge_info.infra.region }}"
            {% endif %}
            {% if wan_edge_info.infra.zone %}
              sdwan_datacenter_zone: "{{ wan_edge_info.infra.zone }}"
            {% endif %}
            {% if wan_edge_info.infra.provider == 'gcp' and infra_providers.gcp %}
              gcp_project: "{{ infra_providers.gcp.project }}"
            {% endif %}
              edge_image_id: "{{ wan_edge_info.infra.image_id }}"
            {% if wan_edge_info.infra.instance_type %}
              edge_instance_type: "{{ wan_edge_info.infra.instance_type }}"
            {% endif %}
              sdwan_model: "{{ wan_edge_info.infra.sdwan_model }}"
              sdwan_uuid: "{{ wan_edge_info.infra.sdwan_uuid }}"
              cloudinit_type: "{{ wan_edge_info.infra.cloud_init_format }}"
              sdwan_system_ip: "{{ wan_edge_info.config.system_ip }}"
              sdwan_site_id: "{{ wan_edge_info.config.site_id }}"
            {% if wan_edge_info.config.cidr %}
              cidr_range: "{{ wan_edge_info.config.cidr }}"
            {% endif %}
              vpn0_range: "{{ wan_edge_info.config.vpn0_range }}"
              vpn1_range: "{{ wan_edge_info.config.vpn1_range }}"
              vpn0_ip: "{{ wan_edge_info.config.vpn0_interface_ipv4 }}"
            {% if wan_edge_info.infra.provider == 'vmware' %}
              vpn0_ip_netmask: "{{ wan_edge_info.config.vpn0_interface_ipv4 | ipv4_address }} {{ wan_edge_info.config.vpn0_interface_ipv4 | ipv4_address('netmask') }}"
              vpn0_default_gateway: "{{ wan_edge_info.config.vpn0_gateway }}"
              vpn1_ip_netmask: "{{ wan_edge_info.config.vpn1_interface_ipv4 | ipv4_address }} {{ wan_edge_info.config.vpn1_interface_ipv4 | ipv4_address('netmask') }}"
              vpn0_portgroup: "{{ wan_edge_info.infra.vmware.vpn0_portgroup }}"
              vpn512_portgroup: "{{ wan_edge_info.infra.vmware.vpn512_portgroup }}"
              servicevpn_portgroup: "{{ wan_edge_info.infra.vmware.servicevpn_portgroup }}"
              datacenter: "{{ wan_edge_info.infra.vmware.datacenter }}"
              cluster: "{{ wan_edge_info.infra.vmware.cluster }}"
              datastore: "{{ wan_edge_info.infra.vmware.datastore }}"
              folder: "{{ wan_edge_info.infra.vmware.folder }}"
            {% endif %}
              ansible_host: "{{ wan_edge_info.config.vpn0_interface_ipv4 | ipv4_address }}"
              sdwan_template:
                name: hq-c8000v
                variables:
                  'vpn512_interface': GigabitEthernet3
                  'vpn0_interface': GigabitEthernet1
                  'vpn0_internet_ipv4_address': "{{ wan_edge_info.config.vpn0_interface_ipv4 }}"
                  'vpn0_default_gateway': "{{ wan_edge_info.config.vpn0_gateway }}"
                  'vpn1_ipv4_address': "{{ wan_edge_info.config.vpn1_interface_ipv4 }}"
                  'vpn1_interface': GigabitEthernet2
                  'vpn1_ospf_interface': GigabitEthernet2
                  'system_latitude': '37.411343'
                  'system_longitude': '-121.938803'
                  'system_host_name': "{{ wan_edge_name }}"
                  'system_system_ip': "{{ wan_edge_info.config.system_ip }}"
                  'system_site_id': "{{ wan_edge_info.config.site_id }}"
                  'banner_login': "{{ "{{ login_banner }}" }}"
                  'banner_motd': "Welcome to {{ wan_edge_name }}!"
          {% endfor %}
    system:
      vars:
        virl_config_template: "/ansible/day_0/templates/virl/host.j2"
        virl_image_defintion: "{{ global_config.ubuntu_image }}"
        host_interface: ens2
      children:
        client:
          hosts:
            site1-host1:
              host_ip: 192.168.1.10/24
              host_gateway: '192.168.1.1'
            site2-host1:
              host_ip: 192.168.2.10/24
              host_gateway: '192.168.2.1'
        public_hosts:
          hosts:
            hq-host1:
              host_ip: 10.0.1.10/24
              host_gateway: '10.0.1.1'
